{% extends '@AcMarchePresse/base.html.twig' %}

{% block body %}
    <div class="card text-white bg-warning mb-3">
        <div class="card-header">
            <h2>Page non trouvé</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                <a href="{{ path('homepage') }}" class="card-link">Retour à l'accueil</a>
            </p>
        </div>
    </div>
{% endblock %}
