{% extends '@AcMarchePresse/layout_front.html.twig' %}

{% block body %}
        <div class="card text-white bg-warning mb-3">
        <div class="card-header">
            <h2>Accès non autorisé</h2>
        </div>
        <div class="card-body">
            <p>
                No access.
            </p>
        </div>
    </div>

{% endblock %}
