{% extends '@AcMarchePresse/base.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Notifier</h3>
        </div>

        <div class="card-body">
            {{ form(form) }}
        </div>

    </div>
{% endblock %}
