<a href="{{ path('album_show',{'id':article.album.id}) }}" class="btn btn-primary" role='button'><i
            class="ti ti-list"></i>
    Retour à l'album
</a>

<a href="{{ path('article_download',{'id':article.id}) }}" class="btn btn-primary" role='button'>
    <i class="ti ti-download"></i> Télécharger
</a>

{% if is_granted('ROLE_PRESSE_ADMIN') %}
    <a href="{{ path('article_edit', { 'id': article.id }) }}" role="button"
       class="btn btn-primary"><i class="far fa-edit"></i> Editer</a>
    <button class="btn btn-danger" role='button' data-toggle="modal" data-target="#deleteModal"><i
                class="ti ti-trash"></i>
        Supprimer l'article
    </button>
{% endif %}
<br/>
<br/>