{{ form_start(form, {'attr':{'class': 'dropzone jumbotron'}}) }}
{{ form_errors(form) }}

<div class="dz-message d-flex flex-column">
    <i class="fas fa-cloud-upload-alt">Charger les articles</i>

</div>
{{ form_end(form) }}
