{% extends '@AcMarchePresse/base.html.twig' %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{article.nom}}</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn btn-primary" type="submit"><i
                        class="far fa-save"></i> Sauvegarder
            </button>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
