{% extends '@AcMarchePresse/base.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h2>Nouveau destinataire</h2>
        </div>
        <div class="card-body">
            {% include '@AcMarchePresse/destinataire/_form.html.twig' %}
        </div>
        <div class="card-footer">
            <a href="{{ path('presse_destinataire_index') }}"><i
                        class="ti ti-arrow-left"></i> Annuler</a>
        </div>
    </div>
{% endblock %}