<br>
{{ album.text|nl2br }}
<br>
<br>
{% if attachment == false %}
    <a href="{{ url('album_show', {'id': album.id}) }}">Consultez sur la revue de presse</a>
{% endif %}
<br/>
<br/>
Si vous ne souhaitez plus recevoir la revue de presse, vous pouvez le signaler en répondant à ce mail.
<br/>
<br/>