<br>
{{ album.text|nl2br }}
<br>
<br>
{% if attachment == false %}
    <a href="{{ url('album_show', {'id': album.id}) }}">Consultez sur la revue de presse</a>
{% else %}
    <br/>
    ----------------------
    <br/>
    <p>Pour ne pas saturer votre boite mail, pensez à supprimer ce mail après avoir lu la revue de presse.</p>
{% endif %}
<br/>
Si vous ne souhaitez plus recevoir la revue de presse, vous pouvez le signaler en répondant à ce mail.
<br/>
<br/>